In [1]:
import pandas as pd
import numpy as np

In [ ]:
path = r""

In [9]:
df = pd.read_csv(path)

In [12]:
df.head

<bound method NDFrame.head of         Unnamed: 0  vendorid tpep_pickup_datetime tpep_dropoff_datetime  \
0                0         1  2021-01-01 00:30:10   2021-01-01 00:36:12
1                1         2  2021-01-01 00:55:53   2021-01-01 01:08:15
2                2         1  2021-01-01 01:05:52   2021-01-01 01:13:17
3                3         2  2021-01-01 09:06:48   2021-01-01 09:14:30
4                4         2  2021-01-01 09:47:41   2021-01-01 09:53:41
...            ...       ...                  ...                   ...
889655      889655         2  2021-01-12 06:13:31   2021-01-12 06:37:38
889656      889656         2  2021-01-13 06:11:16   2021-01-13 06:36:18
889657      889657         2  2021-01-14 06:19:13   2021-01-14 06:39:11
889658      889658         2  2021-01-17 14:33:50   2021-01-17 15:22:13
889659      889659         2  2021-01-07 06:42:52   2021-01-07 06:44:20

        passenger_count  trip_distance  pulocationid  dolocationid  \
0                     1           2.10           142            43
1                     2           2.73           142            43
2                     1           1.60           142            43
3                     1           2.29           142            43
4                     1           1.45           142            43
...                 ...            ...           ...           ...
889655                1          18.61            11            99
889656                1          18.69            11            99
889657                1          17.79            11            99
889658                1          20.11            11            99
889659                2           0.85            30             2

        payment_type  total_amount  duration  durationHours      PUDay  \
0                  2         11.80     362.0       0.100556     Friday
1                  1         18.36     742.0       0.206111     Friday
2                  1         14.15     445.0       0.123611     Friday
3                  1         14.00     462.0       0.128333     Friday
4                  1         12.88     360.0       0.100000     Friday
...              ...           ...       ...            ...        ...
889655             1         65.79    1447.0       0.401944    Tuesday
889656             1         65.79    1502.0       0.417222  Wednesday
889657             1         63.29    1198.0       0.332778   Thursday
889658             1         77.79    2903.0       0.806389     Sunday
889659             2          7.59      88.0       0.024444   Thursday

            DODay  PUhour  DOhour    PUperiod    DOperiod  PUborough  \
0          Friday       0       0  late night  late night  Manhattan
1          Friday       0       1  late night  late night  Manhattan
2          Friday       1       1  late night  late night  Manhattan
3          Friday       9       9     morning     morning  Manhattan
4          Friday       9       9     morning     morning  Manhattan
...           ...     ...     ...         ...         ...        ...
889655    Tuesday       6       6     morning     morning   Brooklyn
889656  Wednesday       6       6     morning     morning   Brooklyn
889657   Thursday       6       6     morning     morning   Brooklyn
889658     Sunday      14      15      midday      midday   Brooklyn
889659   Thursday       6       6     morning     morning     Queens

            DOborough
0           Manhattan
1           Manhattan
2           Manhattan
3           Manhattan
4           Manhattan
...               ...
889655  Staten Island
889656  Staten Island
889657  Staten Island
889658  Staten Island
889659         Queens

[889660 rows x 20 columns]>

In [223]:
config2 = {
    'columns' : {#"PUDay" : ("equal",["Saturday","Friday"]),
                 "PUborough" : ("equal","Queens"),
                  "PUDay" : ("first",20),
                  #"trip_distance" : ("interval",[1,3]),
                   "trip_distance" : ("max",20)
                  }, #"first" : 20
     'reset_index' : True # True , False
}

In [224]:
for key,value in config2["columns"].items():
        print(key,value)

PUborough ('equal', 'Queens')
PUDay ('first', 20)
trip_distance ('max', 20)

In [225]:
def createSubDataframe(df,**config):
    columns = list(config2["columns"].keys())
    if 'first' in columns:
        columns.remove('first') 
    if 'last' in columns:
        columns.remove('last') 
    df_new = df[columns]
    for key,value in config2["columns"].items():
        print(key,value)
        if key =="first":
            df_new =  df_new.head(value).reset_index(drop=config["reset_index"])
        elif key == "last":
            df_new =  df_new.head(value).reset_index(drop=config["reset_index"])
        elif value is not None:
            if value[0] == "max":
                df_new =  df_new.nlargest(value[1], key)
            elif value[0] == "min":
                df_new = df_new.nsmallest(value[1], key)
            elif value[0] == "first":
                df_new = df_new.head(value[1])
            elif value[0] == "last":
                df_new = df_new.tail(value[1])
            elif value[0] == "equal":
                if isinstance(value[1],list):
                    df_new = df_new[df_new[key].isin(value[1])]
                else:
                    df_new = df_new.loc[df_new[key] == value[1]]
            elif value[0] == "interval":
                df_new = df_new.loc[(df_new[key] >= value[1][0]) & (df_new[key] <= value[1][1])]
        print(df_new)
    return df_new.reset_index(drop=config2["reset_index"])

In [226]:
createSubDataframe(df,**config2)

PUborough ('equal', 'Queens')
       PUborough      PUDay  trip_distance
757       Queens     Friday          18.60
758       Queens     Friday          19.16
759       Queens     Friday          20.20
760       Queens   Saturday          20.80
761       Queens   Saturday          19.90
...          ...        ...            ...
889621    Queens    Tuesday          11.30
889629    Queens  Wednesday          15.80
889636    Queens  Wednesday          31.58
889652    Queens     Monday          31.58
889659    Queens   Thursday           0.85

[45255 rows x 3 columns]
PUDay ('first', 20)
    PUborough      PUDay  trip_distance
757    Queens     Friday          18.60
758    Queens     Friday          19.16
759    Queens     Friday          20.20
760    Queens   Saturday          20.80
761    Queens   Saturday          19.90
762    Queens   Saturday          20.66
763    Queens   Saturday          19.48
764    Queens     Sunday          18.76
765    Queens     Sunday          21.31
766    Queens     Sunday          17.97
767    Queens     Sunday          19.90
768    Queens     Sunday          20.41
769    Queens     Sunday          18.52
770    Queens     Monday          19.84
771    Queens     Monday          20.05
772    Queens     Monday          21.15
773    Queens     Monday          18.82
774    Queens    Tuesday          18.81
775    Queens  Wednesday          21.78
776    Queens  Wednesday          18.40
trip_distance ('max', 20)
    PUborough      PUDay  trip_distance
775    Queens  Wednesday          21.78
765    Queens     Sunday          21.31
772    Queens     Monday          21.15
760    Queens   Saturday          20.80
762    Queens   Saturday          20.66
768    Queens     Sunday          20.41
759    Queens     Friday          20.20
771    Queens     Monday          20.05
767    Queens     Sunday          19.90
761    Queens   Saturday          19.90
770    Queens     Monday          19.84
763    Queens   Saturday          19.48
758    Queens     Friday          19.16
773    Queens     Monday          18.82
774    Queens    Tuesday          18.81
764    Queens     Sunday          18.76
757    Queens     Friday          18.60
769    Queens     Sunday          18.52
776    Queens  Wednesday          18.40
766    Queens     Sunday          17.97

   PUborough      PUDay  trip_distance
0     Queens  Wednesday          21.78
1     Queens     Sunday          21.31
2     Queens     Monday          21.15
3     Queens   Saturday          20.80
4     Queens   Saturday          20.66
5     Queens     Sunday          20.41
6     Queens     Friday          20.20
7     Queens     Monday          20.05
8     Queens     Sunday          19.90
9     Queens   Saturday          19.90
10    Queens     Monday          19.84
11    Queens   Saturday          19.48
12    Queens     Friday          19.16
13    Queens     Monday          18.82
14    Queens    Tuesday          18.81
15    Queens     Sunday          18.76
16    Queens     Friday          18.60
17    Queens     Sunday          18.52
18    Queens  Wednesday          18.40
19    Queens     Sunday          17.97